doctype html
html
head
title Example
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='format-detection' content='telephone=no')

body
#app

//script(src='https://unpkg.com/react@15/dist/react.min.js')
//script(src='https://unpkg.com/react-dom@15/dist/react-dom.min.js')
script(src='/dist/react.min.js')
script(src='/dist/react-dom.min.js')
script(src='/dist/app.js')
