<!DOCTYPE html>
<html>
  <head>
    <title>BGZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="/material-icons.css">
  </head>

  <body>
    <div id="app"></div>

    <script src="https://cdn.bootcss.com/react/15.5.4/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.5.4/react-dom.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>-->
    <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.core.min.js"></script>
    </body>
</html>
